.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    border: none;
    padding: 10px 16px;
    border-radius: 12px;
    font-weight: 600;
    letter-spacing: 0.25px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    cursor: pointer;
}